<h1 align="center">All time Leaderboard</h1>
	<table class="table table-striped">
 		<% @players.each do |player| %>
			<tr>
				<td><%= player.name %></td>
				<td><%= player.total_cash %></td>
			</tr>
		<% end %>
	</table>
	
<h1 align="center">Per Game Average</h1>
	<table class="table table-striped">
		<% @players.each do |player| %>
			<tr>
				<td><%= player.name %></td>
				<td><%= player.per_game_average %></td>
			</tr>
		<% end %>
	</table>
	

<h1 align="center">Most Recent Games</h1>
	<% @games.each do |game| %>
	<h3># <%= game.id %>: <%= game.date.strftime('%B %d, %Y')%> - <%= game.location %></h3>
		<table class="table table-striped">
			<% game.results.each do |result| %>
			<tr>
				<td><%= result.player.name %></td>
				<td><%= result.score %></td>
			</tr>
			<% end %>
			<tr>
				<td>Total Ending Cash</td>
				<td><%= game.total_ending_cash %></td>
		</table>
		<% end %>
			